<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
            <li class="p-name">AzlanCoding</li>
            <li><a class="u-email" href="mailto:azlan_chenlong_mohammad_noh@students.edu.sg">azlan_chenlong_mohammad_noh@students.edu.sg</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <p>Made with github hacker theme</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
